<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">
	<title>Cannes</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/style.css">

	<meta property="og:title" content="Каннський кінофестиваль 2017. Незалежне голосування українського глядача. Читай та голосуй!">
	<meta property="og:description" content="">
	<meta property="og:image" content="http://renault-cannes.korrespondent.net/img/share.jpg">
	<meta property="og:type" content="article">
	<meta property="og:url" content="http://renault-cannes.korrespondent.net/»">



	<!--mobile & IE9- support-->
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
	<!--mobile & IE9- support-->
</head>
<!--todo ng-init="lang='ua'" - ініціалізація мови для російської введи ru-->
<body ng-controller="chooseController" ng-init="lang='ua'">
	<header>
		<img src="img/logo-reno.png" alt="" class="logo">
		<nav>
			<a href="index.html">головна</a>
			<a href="nominations.html">номінації</a>
			<a href="news.html">новини</a>
			<a href="index.html"><img src="img/logo-cannes.png" alt="" class="logo-cannes"></a>
			<a href="hoax.html">розіграш</a>
			<a href="rules.html">правила</a>
			<a href="winners.html">переможці</a>
			<a href="ru/" class="lang">ru</a>
		</nav>
		<div class="social">
			<a href="http://vk.com/share.php?url=http://renault-cannes.korrespondent.net/" target="_blank"> <i>&#xf189;</i></a>
			<a href="http://facebook.com/sharer/sharer.php?u=http://renault-cannes.korrespondent.net/" target="_blank"><i>&#xf09a;</i></a>
		</div>
	</header>
	<!--
	test
	-->
	<div class="popup _auth" ng-show="!isAuth">
		<button class="popup-close">&times;</button>
		<p>авторизуватись</p>
		<div class="social _auth">
			<!--для фото з соціалок-->
<!--
			<img ng-if="fbImgUrl" src="{{fbImgUrl}}">
			<img ng-if="vkImgUrl" src="{{vkImgUrl}}">
-->
			<!--кнопки для логіну (якщо тре щоб логін був на іншій кнопці перенеси ng-click="vkLogin()" в потрібний елемент(<a>, <button> і тд)-->
			<a ng-click="vkLogin()"><i>&#xf189;</i></a>
			<a ng-click="fbLogin()"><i>&#xf09a;</i></a>
		</div>
	</div>
	<section class="test ua">
		<div class="nomination film active">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<button class="read-more" data-btn="lover"></button>
					<p class="nomination__info">
						<span>"Дволикий коханець"</span> Реж: Франсуа Озон
						<button class="vote" ng-click="choose(1, 'film')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ok4a"></button>
					<p class="nomination__info">
						<span>"Окча" </span> реж. Пон Чжун Хо
						<button class="vote" ng-click="choose(2, 'film')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="wonder"></button>
					<p class="nomination__info">
						<span>“Світ повний чудес”</span> реж. Тодд Хейнс<button class="vote" ng-click="choose(3, 'film')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="bright"></button>
					<p class="nomination__info">
						<span>“Світло”</span> реж. Наоми Кавасе<button class="vote" ng-click="choose(4, 'film')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="roden"></button>
					<p class="nomination__info">
						<span>“Роден”</span> реж. Жак Дуайон <button class="vote" ng-click="choose(5, 'film')">проголосувати</button>
					</p>
				</div>
			</div>
			<div class="block-title">кращий фильм</div>
		</div>
		<div class="nomination actress">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<button class="read-more" data-btn="wonder"></button>
					<p class="nomination__info">
						<span>Джуліан Мур</span> “Світ повний чудес” <button class="vote" ng-click="choose(1, 'actress')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ok4a"></button>
					<p class="nomination__info">
						<span>Тільда Свінтон</span> “Окча” <button class="vote" ng-click="choose(2, 'actress')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ismael"></button>
					<p class="nomination__info">
						<span>Маріон Котіяр</span> “Примари Ісмаеля” <button class="vote" ng-click="choose(3, 'actress')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="spokysa"></button>
					<p class="nomination__info">
						<span>Ніколь Кідман</span> “Фатальна спокуса” <button class="vote" ng-click="choose(4, 'actress')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ismael"></button>
					<p class="nomination__info">
						<span>Шарлотта Генсбур</span> “Примари Ісмаеля”
						<button class="vote" ng-click="choose(5, 'actress')">проголосувати</button>
					</p>
				</div>
			</div>
			<div class="block-title">краща актриса</div>
		</div>
		<div class="nomination actor">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<button class="read-more" data-btn="roden"></button>
					<p class="nomination__info">
						<span>Венсан Лендон</span> “Роден” <button class="vote" ng-click="choose(1, 'actor')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="spokysa"></button>
					<p class="nomination__info">
						<span>Колін Фаррел</span> “Фатальна пристрасть” <button class="vote" ng-click="choose(2, 'actor')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="times"></button>
					<p class="nomination__info">
						<span>Роберт Паттінсон</span> “Добрі часи”
						<button class="vote" ng-click="choose(3, 'actor')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="family"></button>
					<p class="nomination__info">
						<span>Адам Сендлер</span> “Історія сім’ї Мейровіц”
						<button class="vote" ng-click="choose(4, 'actor')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="family"></button>
					<p class="nomination__info">
						<span>Бен Стіллер</span> “Історія сім’ї Мейровіц”

						<button class="vote" ng-click="choose(5, 'actor')">проголосувати</button>
					</p>
				</div>
			</div>
			<div class="block-title">кращий актор</div>
		</div>
		<div class="nomination regiser">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<button class="read-more" data-btn="spokysa"></button>
					<p class="nomination__info">
						<span>Софія Коппола</span> “Фатальна спокуса”
						<button class="vote" ng-click="choose(1, 'regiser')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="godar"></button>
					<p class="nomination__info">
						<span>Мішель Хазанавічус</span> “Молодий Годар”
						<button class="vote" ng-click="choose(2, 'regiser')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="krotkaya"></button>
					<p class="nomination__info">
						<span>Сергій Лозниця</span> "Кроткая" <button class="vote" ng-click="choose(3, 'regiser')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="end"></button>
					<p class="nomination__info">
						<span>Міхаель Ханеке
</span> “Хеппі Енд”
						<button class="vote" ng-click="choose(4, 'regiser')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ok4a"></button>
					<p class="nomination__info">
						<span>Пон Чжу Хо</span>"Окча" <button class="vote" ng-click="choose(5, 'regiser')">проголосувати</button>
					</p>
				</div>
			</div>
			<div class="block-title">кращий режисер</div>
		</div>
		<div class="nomination auto">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<p class="nomination__info">
						Renault Kadjar <button class="vote end-test" ng-click="choose(1, 'style')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<p class="nomination__info">
						Renault Captur <button class="vote end-test" ng-click="choose(2, 'style')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<p class="nomination__info">
						Renault Megane <button class="vote end-test" ng-click="choose(3, 'style')">проголосувати</button>
					</p>
				</div>
				<div class="nomination__item">
					<p class="nomination__info">
						Renault Logan <button class="vote end-test" ng-click="choose(4, 'style')">проголосувати</button>
					</p>
				</div>
			</div>
			<div class="block-title">кращий стиль</div>
		</div>
		<div class="popup _send">
			<button class="_btn" ng-click="sendResults()">відправити результати</button>
			<p>Поділись своїм вибором</p>
			<div class="social _auth">
				<!--розшарити-->
				<a ng-click="shareVK()"><i>&#xf189;</i></a>
				<a ng-click="shareFB()"><i>&#xf09a;</i></a>
			</div>
		</div>
	</section>


	<!--popup-->

	<div class="nomination-popup ua" data-popup="spokysa">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/AgYK5B_McT8" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Фатальна спокуса
			</p>
			<p class="nomination-popup__rej">
				Софія Коппола
			</p>

			<p class="nomination-popup__roles">
				Колін Фаррелл, Ніколь Кідман, Кірстен Данст, Ель Фаннінг та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Закрита школа для молодих дівчат була надійною фортецею від зовнішнього світу. Все змінює поява випадкового гостя, який шукає тимчасового прихистку і допомоги.З цього моменту пансіон опиняється у полоні фатальної спокуси.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="roden">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/BT0Gp_fXLew" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Роден
			</p>
			<p class="nomination-popup__rej">
				Жак Дуайон
			</p>
			<p class="nomination-popup__roles">
				Венсан Ліндон, Ізіа Іжлен, Северин Канеел, Едварт Екрут та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Розповідь про творчий шлях Огюста Родена та його незчисленнi любовнi пригоди, зокрема про складнi стосунки мiж ним та головними жiнками у житті майстра - талановитою ученицею Каміллою Клодель та Розою Бьоре, матір'ю його єдиної дитини.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="ok4a">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/E-wBI7Mh6H4" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Окча
			</p>
			<p class="nomination-popup__rej">
				Пон Джун Хо
			</p>
			<p class="nomination-popup__roles">
				Ан Со Хен, Тільда Свінтон, Джейк Джилленгол, Пол Дано та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Дівчина на ім’я Мі-джа мешкає в горах. Її найкращий друг - велика та дещо стидлива тварина Окча. Одного разу Окча зникає та Мі-джа вирушає на його пошуки.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="lover">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/4eGkXxoDTZU" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Дволикий коханець
			</p>
			<p class="nomination-popup__rej">
				Франсуа Озон.
			</p>
			<p class="nomination-popup__roles">
				Марина Вакт, Жеремі Рень’є, Жаклін Біссет.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Молода та тендiтна Хлоя починає вiдвiдувати психiатра Поля, аби позбутися депресii. За декiлька мiсяцiв спiлкування вони стають коханцями, але виявляється, що її новий коханий приховує вiд неї важливу частину свого життя.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="wonder">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/duXKWjkAjtM" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Дивовижний світ
			</p>
			<p class="nomination-popup__rej">
				Тодд Хейнс
			</p>
			<p class="nomination-popup__roles">
				Мішель Вільямс, Джуліан Мур, Оакс Фіглі, Том Нунен, Корі Майкл Сміт та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Історія молодих людей, Бена та Роуз, які живуть у різні епохи та однаково не можуть змиритися з навколишнім світом. Бен прагне знайти свого батька, тоді як думки Роуз зайняті загадковою акторкою. Одного разу доля штовхає їх на пошуки тої самої недостатньої ланки в житті кожного.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="bright">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/upyVKuIwHs8" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Сяйво
			</p>
			<p class="nomination-popup__rej">
				Наомі Кавасе
			</p>
			<p class="nomination-popup__roles">
				Масатосі Нагасе, Ноеміе Накаі, Тацуя Фудзі та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Складна історія кохання втрачаючого зір фотографа та молодої дівчини, яка закрила себе від зовнішнього світу.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="ismael">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/Esy1mJa2LC8" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Примари Ісмаеля
			</p>
			<p class="nomination-popup__rej">
				Арно Деплешен
			</p>
			<p class="nomination-popup__roles">
				Маріон Котіяр, Шарлотта Генсбур, Матьє Амальрік
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Майже двадцять років кінорежисер Ісмаель намагається розгадати таємниче зникнення своєі коханоі Карлоти. Але час спливає і тепер головним сенсом життя героя стає Сильвія. Проте неочікуване повернення Карлоти руйнує крихку любовну ідилію.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="times">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				Добрі часи
			</p>
			<p class="nomination-popup__rej">
				Бен Сефді, Джошуа Сефді.
			</p>
			<p class="nomination-popup__roles">
				Роберт Паттінсон, Дженіфер Джейсон Лі, Баркхад Абди та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Історія розповідає про грабіжника банків на ім’я Конні, який щосили втікає від переслідування. Та з кожним кроком вільного простору навколо героя стає дедалі меньше.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="family">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				Історія сім’ї Майровіц.
			</p>
			<p class="nomination-popup__rej">
				Ноа Баумбак.
			</p>
			<p class="nomination-popup__roles">
				Емма Томпсон, Адам Сендлер, Бен Стіллер, Дастін Хоффман та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Не надто дружні родичи вирішують зібратися разом з приводу святкування творчої діяльності голови родини.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="krotkaya">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				Кроткая
			</p>
			<p class="nomination-popup__rej">
				Сергій Лозниця
			</p>
			<p class="nomination-popup__roles">
				Василина Маковцева, Лія Ахіджакова, Роза Хайрулліна, Сергій Колєсов та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Драматична історія заснована на оповіданні Достоєвського. В ній йдеться про невдалі стосунки між молодою дівчиною, що взяв собі за дружину один лихвар та про фатальне непорозуміння, що виникло на тлі повноі несумістності характерів.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="end">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				Хеппі Енд
			</p>
			<p class="nomination-popup__rej">
				Міхаель Ханеке </p>
			<p class="nomination-popup__roles">
				Ізабель Юппер, Тобі Джонс, Матьє Кассовітц, Жан-Луї Трентіньян та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Драматична історія розповідає про долю європейської родини, яка мешкає в місті Калє, на тлі кризи, що розгортається з прибуттям біженців.
			</p>
		</div>
	</div>
	<div class="nomination-popup ua" data-popup="godar">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				Молодий Годар.
			</p>
			<p class="nomination-popup__rej">
				Мішель Хазанавичус.
			</p>
			<p class="nomination-popup__roles">
				Луї Гаррель, Стейсі Мартін, Береніс Бежо та інш.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Історія виникнення романтичних стосунків між Годаром та Ганною Вяземські під час зйомки стрічки "Китаянка" в 1967 році.
			</p>
		</div>
	</div>
	
	
	<!--stupid VK button viget fix-->
	<div style="display: none;" id="vk_auth"></div>

	<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>

	<!--fb auth-->
	<script>
		// Load the SDK asynchronously
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script src="js/libs.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/custom.js"></script>

</body>

</html>