<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">
	<title>Cannes</title>
	<link rel="stylesheet" href="../css/libs.min.css">
	<link rel="stylesheet" href="../css/style.css">

	<meta property="og:title" content="Каннский кинофестиваль 2017. Независимое голосование украинских зрителей. Читай и голосуй!">
	<meta property="og:description" content="">
	<meta property="og:image" content="http://renault-cannes.korrespondent.net/img/share.jpg">
	<meta property="og:type" content="article">
	<meta property="og:url" content="http://renault-cannes.korrespondent.net/»">



	<!--mobile & IE9- support-->
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
	<!--mobile & IE9- support-->
</head>

<body>
	<header>
		<img src="../img/logo-reno.png" alt="" class="logo">
		<nav>
			<a href="index.html">главная</a>
			<a href="nominations.html">номинации</a>
			<a href="../news.html">новости</a>
			<a href="index.html"><img src="../img/logo-cannes.png" alt="" class="logo-cannes"></a>
			<a href="hoax.html">розыгрыш</a>
			<a href="rules.html">правила</a>
			<a href="winners.html">победители</a>
			<a href="../index.html" class="lang">ua</a>
		</nav>
		<div class="social">
			<a href="http://vk.com/share.php?url=http://renault-cannes.korrespondent.net/" target="_blank"> <i>&#xf189;</i></a>
			<a href="http://facebook.com/sharer/sharer.php?u=http://renault-cannes.korrespondent.net/" target="_blank"><i>&#xf09a;</i></a>
		</div>
	</header>
	<!--
	test
	-->
	<div class="popup _auth">
		<button class="popup-close">&times;</button>
		<p>авторизироваться</p>
		<div class="social _auth">
			<!--для фото з соціалок-->
			<img ng-if="fbImgUrl" src="{{fbImgUrl}}">
			<img ng-if="vkImgUrl" src="{{vkImgUrl}}">
			<!--кнопки для логіну (якщо тре щоб логін був на іншій кнопці перенеси ng-click="vkLogin()" в потрібний елемент(<a>, <button> і тд)-->
			<a href="#" ng-click="vkLogin()"><i>&#xf189;</i></a>
			<a href="#" ng-click="fbLogin()"><i>&#xf09a;</i></a>
		</div>
	</div>
	<section class="test ru">
		<div class="nomination film active">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<button class="read-more" data-btn="lover"></button>
					<p class="nomination__info">
						<span>"Двойной любовник"</span> Реж: Франсуа Озон
						<button class="vote" ng-click="choose(1, 'film')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ok4a"></button>
					<p class="nomination__info">
						<span>"Окча" </span> реж. Пон Чжун Хо
						<button class="vote" ng-click="choose(2, 'film')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="wonder"></button>
					<p class="nomination__info">
						<span>“Мир, полный чудес”</span> реж. Тодд Хейнс<button class="vote" ng-click="choose(3, 'film')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="bright"></button>
					<p class="nomination__info">
						<span>“Свет”</span> реж. Наоми Кавасэ<button class="vote" ng-click="choose(4, 'film')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="roden"></button>
					<p class="nomination__info">
						<span>“Роден”</span> реж. Жак Дуайон <button class="vote" ng-click="choose(5, 'film')">проголосовать</button>
					</p>
				</div>
			</div>
			<div class="block-title">лучший фильм</div>
		</div>
		<div class="nomination actress">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<button class="read-more" data-btn="wonder"></button>
					<p class="nomination__info">
						<span>Джулиана Мур</span> “Мир, полный чудес” <button class="vote" ng-click="choose(1, 'actress')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ok4a"></button>
					<p class="nomination__info">
						<span>Тильда Суинтон</span> “Окча” <button class="vote" ng-click="choose(2, 'actress')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ismael"></button>
					<p class="nomination__info">
						<span>Марион Котияр</span> “Призраки Исмаэля” <button class="vote" ng-click="choose(3, 'actress')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="spokysa"></button>
					<p class="nomination__info">
						<span>Николь Кидман</span> “Роковое искушение” <button class="vote" ng-click="choose(4, 'actress')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ismael"></button>
					<p class="nomination__info">
						<span>Шарлотта Генсбур</span> “Призраки Исмаэля” <button class="vote" ng-click="choose(5, 'actress')">проголосовать</button>
					</p>
				</div>
			</div>
			<div class="block-title">лучшая актриса</div>
		</div>
		<div class="nomination actor">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<button class="read-more" data-btn="roden"></button>
					<p class="nomination__info">
						<span>Венсан Линдон</span> “Роден” <button class="vote" ng-click="choose(1, 'actor')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="spokysa"></button>
					<p class="nomination__info">
						<span>Колин Фаррел</span> “Роковое искушение” <button class="vote" ng-click="choose(2, 'actor')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="times"></button>
					<p class="nomination__info">
						<span>Роберт Паттинсон</span> “Хорошее время” <button class="vote" ng-click="choose(3, 'actor')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="family"></button>
					<p class="nomination__info">
						<span>Адам Сендлер</span> “История семьи Майровиц” <button class="vote" ng-click="choose(4, 'actor')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="family"></button>
					<p class="nomination__info">
						<span>Бэн стиллер</span> “История семьи Майровиц” <button class="vote" ng-click="choose(5, 'actor')">проголосовать</button>
					</p>
				</div>
			</div>
			<div class="block-title">лучший актер</div>
		</div>
		<div class="nomination regiser">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<button class="read-more" data-btn="spokysa"></button>
					<p class="nomination__info">
						<span>София Коппола</span> "Роковое искушение" <button class="vote" ng-click="choose(1, 'regiser')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="godar"></button>
					<p class="nomination__info">
						<span>Мишель Хазанавичус</span> "Молодой Годнар" <button class="vote" ng-click="choose(2, 'regiser')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="krotkaya"></button>
					<p class="nomination__info">
						<span>Сергей Лозница</span> "Кроткая" <button class="vote" ng-click="choose(3, 'regiser')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="end"></button>
					<p class="nomination__info">
						<span>Михаэль Ханеке</span> "Хэппи энд" <button class="vote" ng-click="choose(4, 'regiser')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<button class="read-more" data-btn="ok4a"></button>
					<p class="nomination__info">
						<span>Пон Чжу Хо</span>"Окча" <button class="vote" ng-click="choose(5, 'regiser')">проголосовать</button>
					</p>
				</div>
			</div>
			<div class="block-title">лучший режисер</div>
		</div>
		<div class="nomination auto">
			<div class="nomination__wrap">
				<div class="nomination__item">
					<p class="nomination__info">
						Renault Kadjar <button class="vote end-test" ng-click="choose(1, 'style')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<p class="nomination__info">
						Renault Captur <button class="vote end-test" ng-click="choose(2, 'style')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<p class="nomination__info">
						Renault Megane <button class="vote end-test" ng-click="choose(3, 'style')">проголосовать</button>
					</p>
				</div>
				<div class="nomination__item">
					<p class="nomination__info">
						Renault Logan <button class="vote end-test" ng-click="choose(4, 'style')">проголосовать</button>
					</p>
				</div>
			</div>
			<div class="block-title">лучший стиль</div>
		</div>
		<div class="popup _send">
			<button class="_btn" ng-click="sendResults()">отправить результаты</button>
			<p>Поделись своим выбором</p>
			<div class="social _auth">
				<!--розшарити-->
				<a ng-click="shareVK()"><i>&#xf189;</i></a>
				<a ng-click="shareFB()"><i>&#xf09a;</i></a>
			</div>
		</div>
	</section>
	<!--popup-->

	<div class="nomination-popup ru" data-popup="spokysa">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/AgYK5B_McT8" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Роковое искушение
			</p>
			<p class="nomination-popup__rej">
				Софbя Коппола
			</p>

			<p class="nomination-popup__roles">
				Колин Фаррелл, Николь Кидман, Кирстен Данст, Эль Фаннинг и др.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Закрытый пансион для девушек был надежно спрятан от внешнего мира до того дня, пока искавший помощи и укрытия молодой человек не ступил за его ворота. С этого мгновения таинственный особняк оказался в плену рокового искушения.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="roden">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/BT0Gp_fXLew" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Роден
			</p>
			<p class="nomination-popup__rej">
				Жак Дуайон
			</p>
			<p class="nomination-popup__roles">
				Венсан Линдон, Изиа Ижлен, Северин Канеел, Эдвард Экрут и др.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Рассказ о творчестве Огюста Родена, о его бесчисленных любовных интригах и о непростых взаимоотношениях с самыми главными женщинами в жизни мастера — талантливой ученицей Камиллой Клодель и Розой Бёре, матерью его единственного ребенка.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="ok4a">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/E-wBI7Mh6H4" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Окча
			</p>
			<p class="nomination-popup__rej">
				Пон Джун Хо
			</p>
			<p class="nomination-popup__roles">
				Ан Со Хен, Тильда Суинтон, Джейк Джилленхол, Пол Дано и др. </p>
			<hr>
			<p class="nomination-popup__deskription">
				Девочка по имени Ми-джа живет в горах. Ее лучший друг — большой и немного стеснительный зверь Окча. Однажды Окча исчезает и Ми-джа отправляется на его поиски.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="lover">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/4eGkXxoDTZU" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Двуличный любовник
			</p>
			<p class="nomination-popup__rej">
				Франсуа Озон.
			</p>
			<p class="nomination-popup__roles">
				Марина Вакт, Жереми Ренье, Жаклин Биссет.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Молодая и хрупкая Хлоя начинает посещать психиатра Поля, чтобы вылечиться от депрессии. Через несколько месяцев общения они становятся любовниками, но оказывается, что ее новый возлюбленный скрыл от нее важную часть своей жизни.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="wonder">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/duXKWjkAjtM" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Мир полный чудес
			</p>
			<p class="nomination-popup__rej">
				Тодд Хейнс
			</p>
			<p class="nomination-popup__roles">
				Мишель Уильямс, Джулианна Мур, Оакс Фигли, Том Нунен, Кори Майкл Смит и др.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				История молодых ребят, Бена и Роуз, которые живут в разные эпохи и не могут смириться с окружающим их миром. Бен мечтает найти своего отца, а мысли Роуз заняты загадочной актрисой. Однажды судьба толкает их на поиски того самого недостающего их жизни элемента.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="bright">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/upyVKuIwHs8" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Сияние
			</p>
			<p class="nomination-popup__rej">
				Наоми Кавасе
			</p>
			<p class="nomination-popup__roles">
				Масатоси Нагасэ, Ноэмиэ Накаи, Тацуя Фудзи и др.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				История непростой любви фотографа, теряющего зрение, и молодой девушки, которая закрылась от всего мира.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="ismael">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<iframe src="https://www.youtube.com/embed/Esy1mJa2LC8" frameborder="0" allowfullscreen></iframe>
			<p class="nomination-popup__title">
				Призраки Исмаэля
			</p>
			<p class="nomination-popup__rej">
				Арно Деплешен
			</p>
			<p class="nomination-popup__roles">
				Марион Котийяр, Шарлотта Генсбур, Матье Амальрик и др.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Вот уже 20 лет кинорежиссер Исмаэль пытается разгадать тайну исчезновения своей возлюбленной Карлотты. Но время берет свое, и теперь смыслом жизни героя становится Сильвия. Однако Карлотта неожиданно возвращается, и это разрушает хрупкую любовную идиллию.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="times">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				Хорошее время
			</p>
			<p class="nomination-popup__rej">
				Бен Сэфди, Джошуа Сэфди.
			</p>
			<p class="nomination-popup__roles">
				Роберт Паттинсон, Дженнифер Джейсон Ли, Баркхад Абди и др.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				История о грабителе банков Конни, который отчаянно уходит от погони, но с каждым шагом свободного пространства вокруг него становится все меньше и меньше.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="family">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				История семьи Майровиц.
			</p>
			<p class="nomination-popup__rej">
				Ноа Баумбак.
			</p>
			<p class="nomination-popup__roles">
				Эмма Томпсон, Адам Сэндлер, Бен Стиллер, Дастин Хоффман и др.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Не особенно дружная семья собирается все же вместе в честь мероприятия: отметить творческую деятельность главы семейства.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="krotkaya">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				Кроткая
			</p>
			<p class="nomination-popup__rej">
				Сергей Лозница
			</p>
			<p class="nomination-popup__roles">
				Василина Маковцева, Лия Ахеджакова, Роза Хайруллина, Сергей Колесов и др.
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Драма, основанная на повести Достоевского о том, как один ростовщик взял в жены молоденькую девушку, но отношения у них фатально не сложились по причине тотального несходства характеров.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="end">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				Хеппі Енд
			</p>
			<p class="nomination-popup__rej">
				Михаэль Ханеке
			</p>
			<p class="nomination-popup__roles">
				Изабель Юппер, Тоби Джонс, Матье Кассовиц, Жан-Луи Трентиньян
			</p>
			<hr>
			<p class="nomination-popup__deskription">
				Драма обычной европейской семьи, которая живет в Кале, разворачивающаяся на фоне кризиса, связанного с беженцами.
			</p>
		</div>
	</div>
	<div class="nomination-popup ru" data-popup="godar">
		<button class="nomination-popup__close">×</button>
		<div class="nomination-popup__wrap">
			<p class="nomination-popup__title">
				Молодой Годар.
			</p>
			<p class="nomination-popup__rej">
				Мишель Хазанавичус.
			</p>
			<p class="nomination-popup__roles">
				Луи Гаррель, Стейси Мартин, Беренис Бежо и др. </p>
			<hr>
			<p class="nomination-popup__deskription">
				История любовного романа, который произошел между Годаром и Анной Вяземски во время съемок фильма «Китаянка» в 1967 году.
			</p>
		</div>
	</div>

	<!--stupid VK button viget fix-->
	<div style="display: none;" id="vk_auth"></div>

	<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
	<script type="text/javascript">
		//vk
		var social_net = '';
		VK.init({
			apiId: 5660830
		});
		var user = '';
		VK.Widgets.Auth('vk_auth', {});

		function authInfo(response) {
			if (response.session) {
				user = response.session.user;
				social_net = '/saveVK.php';
				console.log('auth');
			} else {
				console.log('not auth');
			}
		}
		VK.UI.button('login_button');
	</script>

	<!--fb auth-->
	<script>
		// Load the SDK asynchronously
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script src="../js/libs.min.js"></script>
	<script src="../js/custom.js"></script>

</body>

</html>