@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?74951725');
  src: url('../font/fontello.eot?74951725#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?74951725') format('woff'), url('../font/fontello.ttf?74951725') format('truetype'), url('../font/fontello.svg?74951725#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'cedra';
    src: url('../font/cedra4f-wide-webfont.eot');
    src: url('../font/cedra4f-wide-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/cedra4f-wide-webfont.woff2') format('woff2'),
         url('../font/cedra4f-wide-webfont.ttf') format('truetype'),
         url('../font/cedra4f-wide-webfont.svg#cedra_4fwide') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'cedra';
    src: url('../font/cedra4f-widethin-webfont.eot');
    src: url('../font/cedra4f-widethin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/cedra4f-widethin-webfont.woff2') format('woff2'),
         url('../font/cedra4f-widethin-webfont.ttf') format('truetype'),
         url('../font/cedra4f-widethin-webfont.svg#cedra_4fwide_thin') format('svg');
    font-weight: lighter;
    font-style: normal;

}


@font-face {
    font-family: 'reno';
    src: url('../font/../font/renaultlife-bold-webfont.eot');
    src: url('../font/renaultlife-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/renaultlife-bold-webfont.woff2') format('woff2'),
         url('../font/renaultlife-bold-webfont.ttf') format('truetype'),
         url('../font/renaultlife-bold-webfont.svg#renault_lifebold') format('svg');
    font-weight: bold;
    font-style: normal;

}