@import "app/sass/_font.scss";
$yellow: #f7de09;
$black: #000;
$top: 85px;

/*
general
*/

body {
	background-color: #000;
	color: $yellow;
	background: url(../img/bg-main.jpg) center no-repeat;
	background-size: cover;
	min-height: 100vh;
	font-family: 'cedra';
	font-weight: lighter;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

i {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: block;
	text-decoration: inherit;
	margin: 0;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	color: inherit;
}

//popup
.popup {
	position: fixed;
	z-index: 888;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	max-width: 680px;
	max-height: 540px;
	background-color: $yellow;
	color: $black;
	font-family: 'reno';
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 24px;
	line-height: 2;
	text-transform: uppercase;
	._btn {
		font-family: 'reno';
		font-size: 20px;
		color: #000;
		border: 2px solid #000;
		padding: 10px;
		margin-bottom: 20px;
	}
}

.popup-close {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 40px;
	line-height: 1;
	cursor: pointer;
}

//button
._btn {
	border: 2px solid $yellow;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
	color: $yellow;
	transition: all .5s;
	&:hover {
		color: rgb(0, 0, 0);
		background-color: $yellow;
	}
}

//section
section {
	box-sizing: border-box;
	overflow: hidden;
}

.block-title {
	position: absolute;
	background: #000 url(../img/block-title.png) center 30px no-repeat;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
}


/*
main styles
*/


/*
header
*/

header {
	border-bottom: 3px solid $yellow;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	width: 100%;
	box-sizing: border-box;
}

nav {
	font-family: 'reno';
	font-weight: bold;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	a {
		margin: 0 5px;
		transition: transform .3s;
		display: inline-block;
		&.lang {
			margin-left: 10px;
			font-family: 'cedra';
			&:before {
				content: '|';
				margin-right: 5px;
			}
		}
		&:hover {
			transform: scale(1.1, 1.1);
		}
	}
}

//social
.social {
	a {
		position: relative;
		width: 45px;
		height: 45px;
		display: inline-block;
		margin: 0 10px;
		color: #fff;
		i {
			@extend .center;
		}
		&:before {
			position: absolute;
			left: 10%;
			top: 10%;
			content: '';
			width: 75%;
			height: 75%;
			border: 2px solid #fff;
			transform: rotate(45deg);
			transition: all .5s;
		}
		&:hover:before {
			transform: rotate(135deg);
		}
	}
	&._auth {
		a {
			width: 65px;
			height: 65px;
			color: #000;
			&:before {
				border-color: $black
			}
		}
	}
}

h3 {
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
	text-transform: uppercase;
	text-align: center;
	font-size: 36px;
}

h4 {
	width: 100%;
	margin: 0 auto;
	max-width: 650px;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	font-family: 'reno';
	font-weight: bold;
	span {
		display: block;
	}
}


/*
main
*/

.main {
	position: fixed;
	top: $top;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
	box-sizing: border-box;
	font-weight: lighter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.test-start {
	@extend ._btn;
	font-size: 24px;
	padding: 10px 35px;
	margin-bottom: 20px;
}

.rules {
	display: flex;
	justify-content: center;
}

.rules__item {
	font-family: 'cedra';
	font-weight: lighter;
	position: relative;
	text-align: left;
	font-size: 24px;
	text-transform: uppercase;
	width: 320px;
	display: flex;
	align-items: center;
	margin-right: 80px;
	span {
		float: left;
		font-size: 200px;
		line-height: 200px;
	}
	&:after {
		position: absolute;
		top: 50%;
		left: 108%;
		transform: translateY(-50%);
		content: url(../img/arrow.png);
		width: 50px;
		height: 50px;
	}
	&:last-child {
		margin-right: 0;
		&:after {
			display: none;
		}
	}
	&._hoax {
		align-items: flex-start;
		margin: 0 100px;
		&:after {
			display: none;
		}
	}
}

.nominations {
	display: block;
	//	position: absolute;
	//	transform: translateX(-50%);
	//	bottom: 0;
	//	left: 50%;
	width: 1000px;
}

.nominations__item {
	background: url(../img/leaf.png) center top no-repeat;
	position: relative;
	display: inline-block;
	//	float: left;
	width: 110px;
	font-size: 18px;
	text-transform: uppercase;
	padding: 40px 40px 20px;
	//	box-sizing: border-box;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		width: 3px;
		height: 50px;
		background-color: $yellow;
	}
	&:last-child:after {
		display: none;
	}
}

.nomination__btn {
	top: 50%;
	position: absolute;
	margin-top: -88px;
	z-index: 100;
	width: 88px;
	height: 88px;
	background: rgba(0, 0, 0, 0.52) url(../img/arrow2.png) center no-repeat;
	cursor: pointer;
	&._left {
		left: 10px;
		transform: rotate(180deg)
	}
	&._right {
		right: 10px;
	}
}


/*
test
*/

.test {
	overflow: visible;
	position: fixed;
	z-index: 666;
	top: $top;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	padding-bottom: 87px;
}

.test-nomination .vote {
	display: none;
}

.nomination {
	width: 100%;
	height: 100%;
	display: none;
	&:first-child() {
		display: block;
	}
}

.nomination__wrap {
	width: 100%;
	height: 100%;
	&:hover {
		.nomination__item {
			width: 15vw;
		}
	}
}

.film .nomination__item {
	&:nth-child(1) {
		background-image: url(../img/film1.jpg), ;
	}
	&:nth-child(2) {
		background-image: url(../img/film2.jpg), ;
	}
	&:nth-child(3) {
		background-image: url(../img/film3.jpg), ;
	}
	&:nth-child(4) {
		background-image: url(../img/film4.jpeg), ;
	}
	&:nth-child(5) {
		background-image: url(../img/film5.jpg), ;
	}
}

.actress .nomination__item {
	&:nth-child(1) {
		background-image: url(../img/actress1.jpg), ;
	}
	&:nth-child(2) {
		background-image: url(../img/actress2.jpg), ;
	}
	&:nth-child(3) {
		background-image: url(../img/actress3.jpg), ;
	}
	&:nth-child(4) {
		background-image: url(../img/actress4.jpeg), ;
	}
	&:nth-child(5) {
		background-image: url(../img/actress5.jpg), ;
	}
}

.actor .nomination__item {
	&:nth-child(1) {
		background-image: url(../img/actor1.jpg), ;
	}
	&:nth-child(2) {
		background-image: url(../img/actor2.jpg), ;
	}
	&:nth-child(3) {
		background-image: url(../img/actor3.jpg), ;
	}
	&:nth-child(4) {
		background-image: url(../img/actor4.jpg), ;
		background-position: 80% center
	}
	&:nth-child(5) {
		background-image: url(../img/actor5.jpg), ;
		background-position: left center
	}
}

.regiser .nomination__item {
	&:nth-child(1) {
		background-image: url(../img/regiser1.jpg), ;
	}
	&:nth-child(2) {
		background-image: url(../img/regiser2.jpg), ;
	}
	&:nth-child(3) {
		background-image: url(../img/regiser3.jpg), ;
	}
	&:nth-child(4) {
		background-image: url(../img/regiser4.jpg), ;
	}
	&:nth-child(5) {
		background-image: url(../img/regiser5.jpg), ;
	}
}

.auto .nomination__item {
	&:nth-child(1) {
		background-image: url(../img/auto1.jpg), ;
	}
	&:nth-child(2) {
		background-image: url(../img/auto2.jpg), ;
	}
	&:nth-child(3) {
		background-image: url(../img/auto3.jpg), ;
	}
	&:nth-child(4) {
		background-image: url(../img/auto4.jpg), ;
	}
}

.nomination__item {
	background-size: cover;
	background-position: center;
	position: relative;
	height: 100%;
	//	padding-bottom: 20px;
	width: 20vw;
	float: left;
	overflow: hidden;
	transition: all .3s;
	filter: grayscale(1);
	//	display: flex;
	//	flex-direction: column;
	//	justify-content: flex-end;
	//	align-items: center;
	div {
		display: none;
	}
	&:after {
		position: absolute;
		z-index: 5;
		bottom: 0;
		left: 0;
		content: '';
		background: url(../img/bg-item.png) repeat;
		height: 337px;
		width: 100%;
	}
	&:hover {
		width: 40vw !important;
		filter: none;
		.read-more{
			display: block
		}
	}
}


.ua .read-more:before{
	content: 'детальніше';
}
.ru .read-more:before{
	content: 'подробнее';
}
.read-more{
	display: none;
	position: absolute;
	top: 50px;
	right: 0;
	background-color: $yellow;
	font-size: 18px;
	padding: 5px 10px;
	color: #000;
	font-family: 'cedra';
	font-weight: normal;
}


/*4 items block*/

.auto .nomination__wrap {
	&:hover .nomination__item {
		width: 20vw;
	}
	.nomination__item {
		width: 25vw;
	}
	.nomination__item:hover {
		width: 40vw !important;
	}
}

.nomination__info {
	position: absolute;
	width: 200px;
	bottom: 10px;
	left: 50%;
	margin-left: -100px;
	z-index: 100;
	font-weight: 20px;
	span {
		display: block;
	}
}

.vote {
	@extend ._btn;
	width: 100%;
	padding: 6px 0;
	margin: 10px 0;
	transition: all .5s;
	font-family: 'cedra';
	font-size: 18px;
	&:hover {
		background-color: $yellow;
		color: $black;
	}
}


/*nomination popup*/

.nomination-popup {
	padding: 20px 0;
	box-sizing: border-box;
	position: fixed;
	z-index: 900;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	color: $yellow;
	line-height: 1.2;
	overflow-y: scroll;
	display: none;
}

.nomination-popup__wrap {
	//	width: 100%;
	width: 750px;
	margin: auto;
	iframe {
		display: block;
		width: 100%;
		height: 400px;
	}
	hr{
		height: 2px;
		width: 60%;
		border-color: $yellow ;
		background-color: $yellow;
		text-align: left;
		margin: 30px 0;
	}
}

.nomination-popup__close{
	color: $yellow;
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 40px;
	line-height: 1;
}

.nomination-popup__title {
	font-family: 'cedra';
	font-size: 40px;
	line-height: 1.5;
	font-weight: normal;
}

.ua .nomination-popup__rej:before {
	content: 'Режисер:'
}
.ru .nomination-popup__rej:before {
	content: 'Режисcер:'
}
.nomination-popup__roles:before{
	content: 'В ролях:'
}
.nomination-popup__rej,
.nomination-popup__roles {
	padding-left: 100px;
	position: relative;
	font-size: 18px;
	&:before {
		position: absolute;
		left: 0px;
//		text-transform: uppercase;
		font-weight: normal;
	}
}



/*
news
*/

.news {
	background-color: #fff;
	color: #000;
	position: absolute;
	top: $top;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow-y: scroll;
}

.wrapper {
	padding: 35px 0;
	max-width: 940px;
	width: 100%;
	margin: auto;
}


/*news__item*/

.news__right {
	float: right;
	width: 300px;
}

.news__left {
	display: inline-block;
	width: 610px;
}

.news__item {
	overflow: hidden;
	position: relative;
	display: block;
	img {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.news__info {
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
}

.news__info {
	padding: 5px;
	box-sizing: border-box;
}

.news__info__title {
	text-transform: uppercase
}

.news__item__text {
	font-size: 16px;
	font-family: sans-serif;
	span {
		display: block;
		margin: 20px 0;
	}
}


/*news__item-main*/

.news__item-main {
	display: inline-block;
	width: 100%;
	height: 400px;
	.news__info {
		padding: 10px;
		height: 140px;
	}
	.news__info__title {
		font-size: 40px;
	}
	.news__info__desk {
		font-size: 18px;
	}
	.news__info__date {
		position: absolute;
		bottom: 10px;
		left: 10px;
		font-size: 14px;
		font-family: sans-serif;
	}
}

.news__block__title {
	color: $yellow;
	font-size: 14px;
	padding-bottom: 5px;
	text-transform: uppercase;
	border-bottom: 2px solid $yellow;
	font-family: 'reno';
	font-weight: bold;
}


/*news__similar*/

.news__similar__item {
	display: block;
	height: 40px;
	padding: 10px 0;
	font-size: 14px;
	border-bottom: 1px solid #d4d2d2;
	font-family: sans-serif;
	img {
		height: 100%;
		float: left;
		margin-right: 10px;
	}
}


/*news__all*/

.news__all {
	clear: both;
	margin-top: 30px;
}

.news__all__item {
	width: 220px;
	height: 190px;
	display: inline-block;
	margin: 5px;
	.news__info {
		height: 60px;
	}
	.news__info__title {
		font-size: 18px;
	}
	.news__info__date {
		position: absolute;
		bottom: 5px;
		left: 5px;
		font-size: 12px;
		font-family: sans-serif;
	}
}


/*
winners
*/

.winner {
	font-size: 24px;
	color: $yellow;
	display: inline-block;
	margin: 20px 32px;
	img {
		display: block;
		width: 140px;
		height: 140px;
		border: 3px solid $yellow;
		border-radius: 100%;
	}
}


/*
rules
*/

.rules {
	font-family: 'reno';
	font-weight: bold;
	p {
		margin: 10px 0;
		font-family: 'cedra';
		&:before {
			content: '•';
			margin-right: 10px;
		}
	}
}

//@media (max-width: 1280px) {}
//@media (max-width: 1024px) {}
//@media (max-width: 768px) {}
//@media (max-width: 640px) {}
//@media (max-width: 480px) {}